:root{
    --main_color: #A05AC8;
    --black : black;
    --white : white;
}
.not_Found_page{
    display: flex;
}
.not_Found_page .whole_box{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not_Found_page .whole_box .box{
    display: flex;   
    align-items: center;
}
.not_Found_page .whole_box .box .left .img img{
    width: 500px;
    height: auto;
}
.not_Found_page .whole_box .box .right{
    margin-left: 50px;
}
.not_Found_page .whole_box .box .right .up h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.not_Found_page .whole_box .box .right .up h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.not_Found_page .whole_box .box .right .up p{
    font-size: 15px;
    margin-bottom: 10px;
}
.not_Found_page .whole_box .box .right .down button{
    padding: 10px 20px;
    font-size: 15px;
    background: var(--main_color);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}
