:root {
  --main_color: #A05AC8;
  --black: black;
  --white: white;
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}
.user_management{
    display: flex;
    transform: translateX(20vw);
    padding: 20px;
    height: 100vh;
}
.user_management .box{
    height: 100%;
}
.user_management .box .upper .up p{
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 20px;
}
.user_management .box .mini_up{
    display: flex;
    gap: 20px;
}
.user_management .box .mini_up .divs{
    background: none;
    border-radius: 10px;
    border: none;
    box-shadow: var(--shadow);
    padding: 10px;
    width: 18vw;
}
.user_management .box .mini_up .divs .up{
    display: flex;
    gap: 20px;
    align-items: center;
}

.user_management .box .mini_up .divs.div4 .up .left .icon{
    background: #e4b5ff;
    color: var(--main_color);
}
.user_management .box .mini_up .divs.div3 .up .left .icon{
    background: rgb(165, 255, 165);
    color: green;
}
.user_management .box .mini_up .divs.div2 .up .left .icon{
    background: rgb(255, 255, 183);
    color: rgb(202, 202, 0);
}
.user_management .box .mini_up .divs.div1 .up .left .icon{
    background: rgb(188, 188, 255);
    color: blue;
}

.user_management .box .mini_up .divs .up .left .icon{
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
}
.user_management .box .mini_up .divs .up .right p{
    font-size: 14px;
    opacity: 0.7;
}
.user_management .box .mini_up .divs .down .increasing p{
    font-size: 14px;
}

.user_management .box .mini_up .divs .down{
    margin-top: 10px;
    display: flex;
    color: rgb(2, 190, 2);
    gap: 10px;
    align-items: center;
}
.user_management .box .mini_up .divs .down.decreasing{
    color: red;
}
.user_management .box .mini_up .divs .down .icon{
    font-size: 1.2rem;
}
.user_management .box .middle .buttons,
.user_management .box .middle .stats{
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 10px;
    background: none;

}
.user_management .box .middle .LeftSider{
    width: 56.5vw;
    height: 52vh;
}
.user_management .box .middle{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.user_management .box .middle .up .icon{
    font-size: 1.2rem;
}
.user_management .box .middle .up{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user_management .box .middle .down .divs.div4{
    background: #f3e2fc;
    color: var(--main_color);
}
.user_management .box .middle .down .divs.div3{
    background: rgb(215, 250, 215);
    color: green;
}
.user_management .box .middle .down .divs.div2{
   background: rgb(255, 255, 183);
    color: rgb(202, 202, 0);
}
.user_management .box .middle .down .divs.div1{
    background: rgb(223, 223, 250);
    color: blue;
}
.user_management .box .middle .down{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.user_management .box .middle .down .divs:active{
    transform: scale(0.9);
    transition: 0.3s;
}
.user_management .box .middle .down .divs{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    
}
.user_management .box .middle .down .divs .icon{
    font-size: 25px;
}
.user_management .box .middle .down .divs .des{
    font-size: 12px;
}
.user_management .box .stats {
    width: 100%;
    height: 100%;
    background: none;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-top: 20px;
    
}
.user_management .box .stats .des h4 .icon{
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    opacity: 0.7;
}
.user_management .box .stats .chart{
    width: 100%;
    height: 90%;
    margin-top: 20px;
}
.user_management .box .middle .rightSider .boxes{
    overflow-y: scroll;
    height: 63vh;
}
.user_management .box .middle .rightSider {
    width: 18vw;
    height:72vh;
    padding: 10px;
    background: none;
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.user_management .box .middle .rightSider .up h4 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.user_management .box .middle .rightSider .up h4 .icon{
    margin-right:  10px;
}
.user_management .box .middle .rightSider .boxes .all.type_about_students{
    border-color: blue;
    /* background: rgb(225, 225, 255); */
}
.user_management .box .middle .rightSider .boxes .all.type_about_teachers{
    border-color: gold;
    /* background: rgb(255, 248, 207); */
}
.user_management .box .middle .rightSider .boxes .all.type_about_class{
    border-color: green;
    /* background: rgb(230, 255, 230); */
}
.user_management .box .middle .rightSider .boxes .all.type_about_report{
    border-color: var(--main_color);
    /* background: rgb(245, 214, 255); */
}
.user_management .box .middle .rightSider .boxes .all{
    padding: 5px 10px;
    border-left: 3px solid;
    flex-wrap: nowrap;
    border-radius: 0 10px 10px 0;
    margin-top: 10px;
    margin-right: 5px;
    background: rgb(247, 247, 247);
}
.user_management .box .middle .rightSider .boxes .all .des_and_counter{
    display: flex;
    justify-content: space-between;
}
.user_management .box .middle .rightSider .boxes .all .des_and_counter h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user_management .box .middle .rightSider .boxes .all .des_and_counter span{
    font-size: 12px;
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user_management .box .middle .rightSider .boxes .all .activity_message{
    font-size: 13px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.6;
}