@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --main_color: #A05AC8;
    --black : black;
    --white : white;
}
.landing_page{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    overflow: hidden;
}
.landing_page .box{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* margin: auto; */
    margin-top: 7%;
    padding: 0 10px;
}
.landing_page .gradient {
    position: absolute;    
    width: 160vmin;  
    height: 160vmin;
    border-radius: 50%;
    left: -60vmin; 
    top: -30vmin;  
    background: linear-gradient(
        to right,
        rgba(160, 90, 200, 1) 0%,   /* center color, fully opaque */
        rgba(160, 90, 200, 0.5) 50%, /* middle fade */
        rgba(160, 90, 200, 0) 100%   /* edge fully transparent */
    );
    z-index: -1;
    filter: blur(10px); 
}
.landing_page .box .rightside{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.landing_page .box .rightside .animation{
    height: 100vh;
    width: 100vw;
    position: fixed;
    transform: translate(-20%, -5%);
}
.landing_page .box .rightside .animate{
    height: 100vh;
    width: 100vh;
    position: fixed;
    transform: translate(0%, -10%);
    
}
.landing_page .box .leftside .data{
    padding: 2vw;
}
.landing_page .box .leftside .data .schools_count .schools_count_p{
    border-radius: 20px;
    font-size: 14px;
    width: 5.8cm;
    padding: 2px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.landing_page .box .leftside .data .big_one .step .step_p{
    font-size: 60px;
    font-weight: 600;
}
.landing_page .box .leftside .data .big_one .future .future_p{
    font-size: 90px;
    font-weight: 600;
    font-family: 'Overpass Mono', monospace;
}
.landing_page .box .leftside .data .big_one .purple{
    color: var(--main_color);
}
.landing_page .box .leftside .data .description .description_p .learnix .ix{
    color: var(--black);
    font-family: "SUSE mono", monospace;
}
.landing_page .box .leftside .data .description .description_p .learnix{
    color: var(--main_color);
    font-weight: 600;
    display: flex;
}
.landing_page .box .leftside .data .description .description_p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    /* line-height: 1.5; */
    margin-top: 20px;
    width: 30vw;
}
.landing_page .box .leftside .data .buttons {
    display: flex;
    gap: 20px;
    margin-top: 10%;
}
.landing_page .box .leftside .data .buttons button{
    background-color: var(--main_color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer
}
.landing_page .box .leftside .data .buttons button:active{
    transform: scale(0.98);
}
.landing_page .box .leftside .data .buttons .our_pricing button{
    background: transparent;
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.3);

}
.landing_page .box .leftside .data .separator{
    width: 100%;
    height: 0.1px;
    background: rgba(0, 0, 0, 0.2);
    margin: 5% 0;
}
.landing_page .box .leftside .data .available_spaces .available_spaces_p.a{
    color: var(--black);
    font-size: 50px;
    font-weight: 600;
}
.landing_page .box .rightside .text{
    position: absolute;
    top: 30%;
    left: 60%;
    z-index: 1;
}
.landing_page .box .rightside .text .text_p .img img{
    width: 20vw;
    transform: translate(40%, -10%);
}