:root {
  --main_color: #A05AC8;
  --black: black;
  --white: white;
  --shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}
.students_management{
    transform: translateX(20vw);
    padding: 20px;
}
.students_management .up {
    margin-bottom: 20px;
}
.students_management .up  .button button{
    background: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding:5px 10px;
    gap: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.students_management .upper p{
    opacity: 0.7;
    font-size: 14px;
}