@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --main_color: #A05AC8;
    --black : black;
    --white : white;
}
.Features_component{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    /* overflow-y: scroll; */
    /* scroll-snap-type: y mandatory; */
    /* overflow-x: hidden; */
    /* overflow: hidden; */
}
.Features_component ::-webkit-scrollbar {
    display: none;
}
.Features_component .box{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* margin: auto; */
    margin-top: 7%;
    padding: 0 10px;
    scroll-snap-align: start;
}
.Features_component .gradient {
    position: fixed;    
    width: 160vmin;  
    height: 160vmin;
    border-radius: 50%;
    left: -60vmin; 
    top: -30vmin;  
    background: linear-gradient(
        to right,
        rgba(160, 90, 200, 1) 0%,   /* center color, fully opaque */
        rgba(160, 90, 200, 0.5) 50%, /* middle fade */
        rgba(160, 90, 200, 0) 100%   /* edge fully transparent */
    );
    z-index: -1;
    filter: blur(10px); 
}
.Features_component .box .rightside{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.Features_component .box .rightside .animation{
    height: 100vh;
    width: 100vw;
    position: fixed;
    transform: translate(-20%, -5%);
}
.Features_component .box .rightside .animate{
    height: 100vh;
    width: 100vh;
    position: fixed;
    transform: translate(0%, -10%);
    
}
.Features_component .box .leftside .data{
    padding: 2vw;
}
.Features_component .box .leftside .data .schools_count .schools_count_p{
    border-radius: 20px;
    font-size: 14px;
    width: 6.65cm;
    padding: 2px 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.Features_component .box .leftside .data .big_one .step .step_p{
    font-size: 60px;
    font-weight: 600;
}
.Features_component .box .leftside .data .big_one .future .future_p{
    font-size: 90px;
    font-weight: 600;
    font-family: 'Overpass Mono', monospace;
}
.Features_component .box .leftside .data .big_one .purple{
    color: var(--main_color);
}
.Features_component .box .leftside .data .description .description_p .learnix .ix{
    color: var(--black);
    font-family: "SUSE mono", monospace;
}
.Features_component .box .leftside .data .description .description_p .learnix{
    color: var(--main_color);
    font-weight: 600;
    display: flex;
}
.Features_component .box .leftside .data .description .description_p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    /* line-height: 1.5; */
    margin-top: 20px;
    width: 30vw;
}
.Features_component .box .leftside .data .buttons {
    display: flex;
    gap: 20px;
    margin-top: 10%;
}
.Features_component .box .leftside .data .buttons button{
    background-color: var(--main_color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer
}
.Features_component .box .leftside .data .buttons button:active{
    transform: scale(0.98);
}
.Features_component .box .leftside .data .buttons .our_pricing button{
    background: transparent;
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.3);

}
.Features_component .box .leftside .data .separator{
    width: 100%;
    height: 0.1px;
    background: rgba(0, 0, 0, 0.2);
    margin: 5% 0;
}
.Features_component .box .leftside .data .available_spaces .available_spaces_p.a{
    color: var(--black);
    font-size: 50px;
    font-weight: 600;
}
.Features_component .box .rightside .text{
    position: absolute;
    top: 30%;
    left: 60%;
    z-index: 1;
}
.Features_component .box .rightside .text .text_p p{
    font-size: 80px;
    font-weight: 700;
    font-family: 'SUSE mono', monospace;
    transform: translate(50%, 100%);
    text-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.Features_component .box .rightside .text .text_p p .learn{
    color: rgba(255,255,255,0.2);
}
.Features_component .box .rightside .text .text_p p .ix{
    color: rgba(0, 0, 0, 0.2);
    font-family: 'SUSE mono', monospace;
}
.Features_component .box .rightside img{
    width: 50vw;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    transform: translate(0%, -20%);
}
.Features_component .box .middleside{
    position: absolute;
    display: flex;
    justify-content: center;
}
.Features_component .box .middleside .buttons button{
    background: transparent;
    color: var(--black);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    position: absolute;
    transform: translate(800%,1500%);
    display: flex; 
    gap: 10px;

}