@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --main_color: #A05AC8;
    --black : black;
    --white : white;
}

.navbar{
    position: fixed;
    z-index: 100;
}
.navbar .header .leftsection,
.navbar .header .middlesection,
.navbar .header .rightsection{
    display: flex;
    align-items: center;
}
.navbar .header{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.navbar .header .box{    
    display: flex;
    justify-content: space-between;
    width: 95vw;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 2vh;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.2);
}
.navbar .header .leftsection h1{
    font-family: 'SUSE mono', monospace;
}
.navbar .header .leftsection .learn{
    color: var(--main_color);
}
.navbar .header .middlesection .links{
    display: flex;
    gap: 60px;
    justify-content: center;
}
.navbar .header .middlesection{
    border: 0.1px solid rgba(0, 0, 0, 0.5);
    padding: 5px  0;
    border-radius: 30px;
}
.navbar .header .box .rightsection .button button{
    background-color: var(--main_color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;

}
.navbar .header .box .rightsection .button button:active{
    transform: scale(0.98);
}

.navbar .header .box .middlesection .links .link{
    /* padding: 1px; */
}
.navbar .header .box .middlesection .links{
    padding: 5px 5px;
    cursor: pointer;
    text-transform: capitalize;
}
.nav-item{
  text-decoration: none;
  color: inherit;
}
.nav-item.hover{
     background: var(--black);
    border-radius: 20px;
    color: var(--white);
    padding: 5px 10px;
}
