<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>LearnIx Verification code</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="https://res.cloudinary.com/dnc3hhrye/image/upload/v1764894934/LearnIx_ilujzx.png">
    <script src="script.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="upper">
                <div class="img">
                    <img src="https://res.cloudinary.com/dnc3hhrye/image/upload/v1764894934/LearnIx_ilujzx.png" alt="LearnIx Logo">
                </div>
            </div>
            <div class="down">
                <div class="up">
                    <h2>LearnIx verification code</h2>
                </div>
                <div class="p">
                    <p>Hello <i>franconellyiradukunda@gmail.com</i>! Thanks for choosing to use our platform. Your 4-digit e-mail verification code is :</p>
                </div>
                <div class="code">
                    <p class="c" id="verificationCode">2008</p>
                    <i class="fa-regular fa-copy" id="copyButton" onclick="copyCode()"></i>
                </div>
                <div class="success notActive" id="codeCopiedMessage">
                    <i class="fa-solid fa-check" title="Click to copy code"></i>
                    <p>Code is copied to clipboard.</p>
                </div>
                <p class="caution">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    Don't share your code to anyone.
                </p>
                <div class="didnot">
                    If you didn't requested this code just ignore this email.
                </div>
            </div>
        </div>
    </div>
</body>
</html>